@CHARSET "UTF-8";

body {
	font-family: "微软雅黑";
	font-size: 14px;
	background-color: #eeeeee;
}

a {
	text-decoration: none;
}

div.header {
	/*background-color: #3371B7;*/
	
}

div.container-body {
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12.4em;
}

.line-bottom {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 0.2em;
}

div.content{
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: none;
}

.table>tbody>tr>td {
	width: 4em;
}

p.nav-title {
	font-size: 1em;
}

p.nav-sub-title {
	font-size: 0.6em;
}

p.news-title {
	font-size: 1.2em;
}

.nav-top-right {
	padding-top: 2em;

}

.logo {
	width: 60px;
	height: 60px;
/*	position: absolute;
	left: 10px;
	top: 0;
}*/
}

.padding-top-little {
	padding-top: 1.5em;
}

.banner-area {
	width: 100%;
	text-align: center;
}

img.banner {
	width: 100%;
	height: auto;
	max-height: 400px;
	overflow-x: hidden;
}

div.introduction {
	background-color: #ffffff;
	height: 200px;
	min-height: 200px;
	max-height: 200px;
	padding: 1em;
}


/*override falt-ui css*/
input, .uneditable-input {
  width: auto;
}

textarea {
	width: 100%;
	height: 12em;
}
